# ENGLISH PREMIER LEAGUE ANALYSIS

## CASE STUDY: 2020/2021 ENGLISH PREMIER LEAGUE DATA

The aim of this study is to carry out a a descriptive statistical analysis of the 2020/2021 EPL season
The following are the objectives:

A. Data Wrangling
    1. Import the necessary Python libraries
    2. Observe the dataset for inconsistencies and carryout data imputation where necessary
B. Exploratory Data Analysis (EDA)
    3. Analyse statistical data of the respective clubs
    4. Analyze the statistical data of the players
C. Data Visualisation using Power BI

## Data Wrangling

### Importing the libraries and dataset

The libraries needed for this analysis are:
    1. Pandas: For importing the dataset and to work on the DataFrame
    2. NumPy: To carryout respective mathematical operations on the dataset
    3. Matplotlib: For data visualisation

In [286]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df = pd.read_csv(r"C:\Users\teedaniels\Downloads\Big Data Tracks\Data Analysis\Projects\EPL2020_2021\EPL_20_21.csv")

In [288]:
df

,Name,Position,Age,Club,Nationality,Matches,Starts,Mins,Goals,Assists,Passes Attempted,Passes Completed (%),Penalty Goals,Penalties Played,xG,xA,Yellow Cards,Red Cards,Goal Contribution
0,Mason Mount,MF,21,Chelsea,ENG,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0,11
1,Edouard Mendy,GK,28,Chelsea,SEN,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0,0
2,Timo Werner,FW,24,Chelsea,GER,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0,14
3,Ben Chilwell,DF,23,Chelsea,ENG,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0,8
4,Reece James,DF,20,Chelsea,ENG,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,Lys Mousset,FW,24,Sheffield United,FRA,11,2,296,0,0,50,80.0,0,0,0.22,0.10,0,0,0
528,Jack O'Connell,DF,26,Sheffield United,ENG,2,2,180,0,0,77,77.9,0,0,0.00,0.00,0,0,0
529,Iliman Ndiaye,MF,21,Sheffield United,FRA,1,0,12,0,0,3,100.0,0,0,0.00,0.00,0,0,0
530,Antwoine Hackford,DF,16,Sheffield United,ENG,1,0,11,0,0,1,100.0,0,0,1.16,0.00,0,0,0
531,Femi Seriki,DF,17,Sheffield United,ENG,1,0,1,0,0,0,-1.0,0,0,0.00,0.00,0,0,0

### Observing the dataset for inconsistencies

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   532 non-null    object
 1   Club                   532 non-null    object
 2   Nationality            532 non-null    object
 3   Position               532 non-null    object
 4   Age                    532 non-null    int64
 5   Matches                532 non-null    int64
 6   Starts                 532 non-null    int64
 7   Mins                   532 non-null    int64
 8   Goals                  532 non-null    int64
 9   Assists                532 non-null    int64
 10  Passes_Attempted       532 non-null    int64
 11  Perc_Passes_Completed  532 non-null    float64
 12  Penalty_Goals          532 non-null    int64
 13  Penalty_Attempted      532 non-null    int64
 14  xG                     532 non-null    float64
 15  xA                     532 non-null    float64
 16  Yellow_Cards           532 non-null    int64
 17  Red_Cards              532 non-null    int64
dtypes: float64(3), int64(11), object(4)
memory usage: 74.9+ KB

<p style="text-align:justify">From above, it is evident that the dataset is consistent across all defined features (columns) and observations (rows) as there are no empty cells. We can further confirm this by using the "isnull()" function and "sum()".</p>

In [18]:
df.isnull().sum()

Name                     0
Club                     0
Nationality              0
Position                 0
Age                      0
Matches                  0
Starts                   0
Mins                     0
Goals                    0
Assists                  0
Passes_Attempted         0
Perc_Passes_Completed    0
Penalty_Goals            0
Penalty_Attempted        0
xG                       0
xA                       0
Yellow_Cards             0
Red_Cards                0
dtype: int64

The info() function gave us an overview of the dataset including the number of observations. However, to know the number of columns and rows in the dataset, we will use the shape() function.

In [19]:
df.shape

(532, 18)

Now, let us work on the columns - dropping the unnecessary ones (i.e. does that will not be needed in this analysis)

In [20]:
Columns = df.columns
for column in Columns :
    print(column)

Name
Club
Nationality
Position
Age
Matches
Starts
Mins
Goals
Assists
Passes_Attempted
Perc_Passes_Completed
Penalty_Goals
Penalty_Attempted
xG
xA
Yellow_Cards
Red_Cards

In [21]:
df.rename(columns={"Postion":"Position", "Perc_Passes_Completed":"Passes Completed (%)", 
                   "Penalty_Goals":"Penalty Goals",
                   "Penalty_Attempted":"Penalties Played",
                  "Passes_Attempted":"Passes Attempted",
                  "Yellow_Cards":"Yellow Cards",
                  "Red_Cards":"Red Cards"}, inplace=True)

In [ ]:
df[["Position", "Alt Position"]] = df["Position"].str.split(",", expand=True)

In [ ]:
df.drop(["Alt Position", "xA", "xG"], axis=1, inplace=True)

In [293]:
df = df[['Name','Position','Age','Club','Nationality','Matches','Starts','Mins',
       'Goals','Assists','Passes Attempted','Passes Completed (%)',
       'Penalty Goals', 'Penalties Played', 'xG', 'xA', 'Yellow Cards',
       'Red Cards']]

In [49]:
df.duplicated().sum()

0

In [30]:
df

,Name,Position,Age,Club,Nationality,Matches,Starts,Mins,Goals,Assists,Passes Attempted,Passes Completed (%),Penalty Goals,Penalties Played,xG,xA,Yellow Cards,Red Cards
0,Mason Mount,MF,21,Chelsea,ENG,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,GK,28,Chelsea,SEN,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,FW,24,Chelsea,GER,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,DF,23,Chelsea,ENG,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,DF,20,Chelsea,ENG,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,Lys Mousset,FW,24,Sheffield United,FRA,11,2,296,0,0,50,80.0,0,0,0.22,0.10,0,0
528,Jack O'Connell,DF,26,Sheffield United,ENG,2,2,180,0,0,77,77.9,0,0,0.00,0.00,0,0
529,Iliman Ndiaye,MF,21,Sheffield United,FRA,1,0,12,0,0,3,100.0,0,0,0.00,0.00,0,0
530,Antwoine Hackford,DF,16,Sheffield United,ENG,1,0,11,0,0,1,100.0,0,0,1.16,0.00,0,0
531,Femi Seriki,DF,17,Sheffield United,ENG,1,0,1,0,0,0,-1.0,0,0,0.00,0.00,0,0

## Exploratory Data Analysis

EPL 2020-2021 Log after Gameweek 38

<div>
<img src="EPL Log 2020-2021.png", style="width: 500px", align="left", alt="2020/2021 EPL Final Standing">
</div>

Source: www.premierleague.com

<b>CLUB ANALYSIS</b>

Let us first observe the data by club

In [290]:
#Aggregating the data by clubs
Group_by_Clubs = df.groupby('Club')

<b>Goals Record</b>

<p style="text-align:justify">With this aggregation, we can begin to analyse the seasonal statistics of the clubs based on specific metrics. For instance, the cell below describes the total number of goals scored by each club across the 38 games. The sort_values() function helps us sort the clubs according to goals scored and with the "ascending" argument set to "False", they are sorted in descending order. The result below shows that Manchester City, Manchester United, Tottheham Hotspur, Liverpool, and Leicester are the most lethal in terms of goals scored with 82, 70, 66, 65, and 64 goals respectively.</p>

In [292]:
Total_Goals = Group_by_Clubs.Goals.sum().sort_values(ascending=False)
Total_Goals

Club
Manchester City            82
Manchester United          70
Tottenham Hotspur          66
Liverpool FC               65
Leicester City             64
Leeds United               60
West Ham United            60
Chelsea                    56
Arsenal                    53
Aston Villa                52
Southampton                47
Everton                    45
Newcastle United           44
Crystal Palace             39
Brighton                   39
Wolverhampton Wanderers    34
West Bromwich Albion       33
Burnley                    32
Fulham                     26
Sheffield United           19
Name: Goals, dtype: int64

Now, let us observe how these clubs perform in terms of goals creation.<br>
<p style="text-align:justify">Interestingly, clubs such as Leicester City (5th), West Ham United (6th), and Leeds United (9th) had more goal assists than Liverpool (4th). At the other end of the table, we can see a trend with West Brom, Burnley, Fulham and Sheffiled United all returning the lowest numbers both in terms of goals scored and assists.<br>
However, it seems goal totally alone is not sufficient to determine a club's final standing in the EPL as in the case of Tottenham Hotspur (3rd in both analysis) but could only end the season at 7th position.</p>

In [37]:
Total_Assists = Group_by_Clubs.Assists.sum().sort_values(ascending=False)
Total_Assists

Club
Manchester City            55
Manchester United          51
Tottenham Hotspur          50
West Ham United            46
Leicester City             45
Leeds United               45
Liverpool FC               43
Aston Villa                38
Chelsea                    38
Arsenal                    38
Southampton                33
Everton                    32
Crystal Palace             29
Newcastle United           26
Brighton                   24
Wolverhampton Wanderers    21
Burnley                    20
West Bromwich Albion       20
Fulham                     18
Sheffield United           13
Name: Assists, dtype: int64

Time to look at the passes attempted, and percentage of passes completed.

In [39]:
Attempted_Passes = Group_by_Clubs["Passes Attempted"].sum().sort_values(ascending=False)
Attempted_Passes

Club
Manchester City            26688
Liverpool FC               25526
Chelsea                    25151
Manchester United          21960
Arsenal                    21291
Leicester City             20572
Leeds United               20043
Tottenham Hotspur          19872
Brighton                   19456
Fulham                     18860
Southampton                18761
Wolverhampton Wanderers    18661
Everton                    18246
Aston Villa                16556
West Ham United            16358
Sheffield United           15843
Crystal Palace             15092
Burnley                    15043
Newcastle United           14218
West Bromwich Albion       13646
Name: Passes Attempted, dtype: int64

<div style="text-align:justify">The league champions, Manchester City completed the most passes (at least 1162 passes more than any other club). This should not come as a surprise as the side coached by Pep Guardiola are known for dominating games with players such as Rodri, Ruben Dias, Aymeric Laporte and Cancelo doing well in that department.
</div>

<b>Penalties Record</b><br>
<p style="text-align:justify">Leicester City (12) were awarded more penalties than any other club in the 2020/2021 season while Burnley (3) had the fewest. A sneek peek shows that the clubs at the bottom end of the league table had the fewever number of penalties over the season. This could be due to the fact that they were less adventurous and played less passes than the clubs at the top half of the table as they spend more time defending their boxes.</p>

In [55]:
Played = Group_by_Clubs["Penalties Played"].sum().sort_values(ascending=False)
Scored = Group_by_Clubs["Penalty Goals"].sum().sort_values(ascending=False)
Penalties = pd.DataFrame([Played, Scored])
Penalties

,Leicester City,Manchester United,Chelsea,Brighton,Manchester City,Newcastle United,Liverpool FC,Aston Villa,Fulham,Arsenal,Southampton,Everton,Tottenham Hotspur,West Ham United,Leeds United,Sheffield United,Crystal Palace,West Bromwich Albion,Wolverhampton Wanderers,Burnley
Penalties Played,12,11,10,9,9,7,6,6,6,6,6,5,5,4,4,4,4,4,4,3
Penalty Goals,10,10,8,6,5,6,6,5,3,6,5,4,5,2,4,3,3,4,4,3

<div style="text-align:justify">
A decent number of the clubs (35%) had a 100% penalty conversion rate over the course of the season while 20% of the clubs (West Ham United and Fulham) had just 50% of their penalties hit the back of the net.<br>
In terms of total goals scored, just 7% of the total goals scored by both West Ham and Leeds United were from penalties with teams such as Fulham, Brighton and Sheffield United benefiting more from penalty decisions with more than 20% of their goals coming from the spot.
</div>

In [98]:
Penalty_Conversion = ((Scored/Played) * 100).round().sort_values(ascending=False)
#Penalty_Conversion.sort_values(ascending=False).round()
Penalty = pd.DataFrame(Penalty_Conversion)

In [121]:
Penalties_Goal_Percentage = ((Played/Total_Goals) * 100).round()
Penalties_Goal_Percentage.sort_values(ascending=False)

Club
Fulham                     23.0
Brighton                   23.0
Sheffield United           21.0
Leicester City             19.0
Chelsea                    18.0
Newcastle United           16.0
Manchester United          16.0
Southampton                13.0
Aston Villa                12.0
Wolverhampton Wanderers    12.0
West Bromwich Albion       12.0
Everton                    11.0
Manchester City            11.0
Arsenal                    11.0
Crystal Palace             10.0
Liverpool FC                9.0
Burnley                     9.0
Tottenham Hotspur           8.0
West Ham United             7.0
Leeds United                7.0
dtype: float64

<b>Discliplinary Records</b>

In [127]:
Cards_Received = ((Group_by_Clubs["Red Cards"].sum()) + 
                  (Group_by_Clubs["Yellow Cards"].sum())).sort_values(ascending=False)
Cards_Received

Club
Sheffield United           76
Aston Villa                75
Fulham                     70
Newcastle United           68
Manchester United          65
Leeds United               62
Leicester City             61
Everton                    61
Tottenham Hotspur          59
Crystal Palace             58
Wolverhampton Wanderers    56
Southampton                55
Brighton                   55
West Bromwich Albion       55
Chelsea                    54
Arsenal                    54
West Ham United            53
Manchester City            48
Burnley                    48
Liverpool FC               40
dtype: int64

<div style="text-align:justify">
A whooping 1173 cards were given out during the 2020-2021 EPL season. The chart shows the struggles of Sheffield United with 6.5% of the cards given to a player in The Blades shirt (averaging at least 2 cards per game). Liverpool (40), Burnley (48) and Manchester City (48) are the league's best in terms of fair play.
</div>

In [175]:
Cards_per_game = (Cards_Received/38).round()
Cards_per_game

Club
Sheffield United           2.0
Aston Villa                2.0
Fulham                     2.0
Newcastle United           2.0
Manchester United          2.0
Leeds United               2.0
Leicester City             2.0
Everton                    2.0
Tottenham Hotspur          2.0
Crystal Palace             2.0
Wolverhampton Wanderers    1.0
Southampton                1.0
Brighton                   1.0
West Bromwich Albion       1.0
Chelsea                    1.0
Arsenal                    1.0
West Ham United            1.0
Manchester City            1.0
Burnley                    1.0
Liverpool FC               1.0
dtype: float64

<b>PLAYER STATISTICS</b>

Objectives:
    1. Who are the leagues most lethal scorers?
    2. Who are the leagues top assist makers
    3. Who are the best passers
    4. Who are the dirtiest and most disciplined players?

<b>Goals</b>

In [285]:
Goal_Scorers = (df[["Name", "Club", "Goals"]]).sort_values(by="Goals", ascending=False)
Goal_Scorers.reset_index(drop=True).head(5)

              Name               Club  Goals
0       Harry Kane  Tottenham Hotspur     23
1    Mohamed Salah       Liverpool FC     22
2  Bruno Fernandes  Manchester United     18
3  Patrick Bamford       Leeds United     17
4    Son Heung-min  Tottenham Hotspur     17

In [284]:
Assist_Leaders = (df[["Name", "Club", "Assists"]]).sort_values(by="Assists", ascending=False)
Assist_Leaders.reset_index(drop=True).head(5)

              Name               Club  Assists
0       Harry Kane  Tottenham Hotspur       14
1  Kevin De Bruyne    Manchester City       12
2  Bruno Fernandes  Manchester United       12
3    Jack Grealish        Aston Villa       10
4    Son Heung-min  Tottenham Hotspur       10

In [283]:
df["Goal Contribution"] = (df["Goals"]) + (df["Assists"])
Goal_Contribution = (df[["Name", "Club", "Goal Contribution"]]).sort_values(by="Goal Contribution", ascending=False)
Goal_Contribution.reset_index(drop=True).head(5)

              Name               Club  Goal Contribution
0       Harry Kane  Tottenham Hotspur                 37
1  Bruno Fernandes  Manchester United                 30
2    Mohamed Salah       Liverpool FC                 27
3    Son Heung-min  Tottenham Hotspur                 27
4      Jamie Vardy     Leicester City                 24

<b>Passes</b>

In [282]:
Pass_Attempts = df[["Name", "Club", "Passes Attempted"]].sort_values(by="Passes Attempted",ascending=False)
Pass_Attempts.reset_index(drop=True).head(5)

                     Name               Club  Passes Attempted
0        Andrew Robertson       Liverpool FC              3214
1  Trent Alexander-Arnold       Liverpool FC              2941
2                   Rodri    Manchester City              2728
3         Pierre Højbjerg  Tottenham Hotspur              2687
4              Rúben Dias    Manchester City              2671

In [281]:
Pass_Completion = df[["Name", "Passes Attempted", "Passes Completed (%)"]].sort_values(by="Passes Attempted",
                ascending=False)
Pass_Completion.reset_index(drop=True).head(5)

                     Name  Passes Attempted  Passes Completed (%)
0        Andrew Robertson              3214                  79.9
1  Trent Alexander-Arnold              2941                  75.3
2                   Rodri              2728                  91.5
3         Pierre Højbjerg              2687                  88.9
4              Rúben Dias              2671                  93.6

<b>Card Records</b>

In [280]:
Yellow_Cards = df[["Name", "Position", "Yellow Cards"]].sort_values(by="Yellow Cards", ascending=False)
Yellow_Cards.reset_index(drop=True).head(5)

              Name Position  Yellow Cards
0      John McGinn       MF            12
1    Harry Maguire       DF            11
2  Conor Gallagher       MF            11
3  Kalvin Phillips       MF            10
4     Douglas Luiz       MF            10

In [279]:
Red_Cards = df[["Name", "Position", "Red Cards"]].sort_values(by="Red Cards", ascending=False)
Red_Cards.reset_index(drop=True).head(5)

           Name Position  Red Cards
0    Lewis Dunk       DF          2
1  Matt Doherty       DF          1
2     John Egan       DF          1
3    Semi Ajayi       DF          1
4  João Cancelo       DF          1